@import "../../variables/colors";
@import "../../variables/custom";

.a-input {
  width: $InputWidth;
  font-size: $InputFontSize;
  padding-left: $InputPadding;
  border: unset;
  border-bottom: 1px solid $Silver_Chalice;

  &:focus {
    outline: none;
  }
}

.a-input.f-validation {
  border-bottom-color: $Red;
}
